header{
    background-color: white;
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
#header-title{
    color: #000080;
    font-family: Arial, Helvetica, sans-serif;   
}
body{
    background-color: #e5e5e5;
}
.logo{
    align-content:  er;
}
.content-wrapper{
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
}
.h2-curso{
    color: #000080;
    text-align: center;
    padding: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.p-title-curso{
    color: #000080;
    padding: 8px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.h2-descricao-curso{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.p-curso{
    font-family: Arial, Helvetica, sans-serif;
}
.docente{
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
}
.h2-docente{
    color: #000080;
    text-align: center;
    padding: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.table-docente{
    width: 100%;
    border: 1px solid black;
}
.th-title{
    font-family: Arial, Helvetica, sans-serif;
    color: #000080;
}
.tr-title{
    background-color: white;
}
.td-docente{
    padding: 5px;
    text-align: center;
}
.img{
    background-color: #ddd;
    border-radius: 100%;
    height: 70px;
    object-fit: cover;
    width: 70px;  
  }
  input.css3button {
    margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000080;
    padding: 5px 10px;
    margin-bottom: 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#d6d6d6));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #000080;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
}
.h1-evento{
    color: #000080;
    text-align: center;
    padding: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.hackathon{
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
}
.p-hackathon{
    font-family: Arial, Helvetica, sans-serif;
}
.a-docente{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    color:black;
}
.noticia{
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
}
.h1-noticia{
    color: red;
    text-align: center;
    padding: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.h2-noticia{
    color: #000080;
    text-align: center;
    padding: 8px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.a-noticia{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #000080;
}